{% extends 'base.html' %} {% block content %}

<h1 class="text-center my-4">Hi {{user.first_name}}👋🏾</h1>
<div
  class="card mx-auto"
  style="width: 18rem">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <b>Name:</b> {{user.first_name}} {{user.last_name}}
    </li>

    <li class="list-group-item"><b>Username:</b> {{user.username}}</li>

    <li class="list-group-item"><b>Contact:</b> {{user.email}}</li>
    {% if feedback %} {% for f in feedback %}
    <li class="list-group-item">
      <b class="text-dark">{{f.title}}</b>{{f.content}}
      <a href="/feedback/{{f.id}}/edit">
        <i class="fa-solid fa-pen-to-square mx-2"></i
      ></a>
      <form
        action="/feedback/{{f.id}}/delete"
        method="post">
        <button
          href="/feedback/{{f.id}}/delete"
          type="submit"
          class="btn btn-link">
          <i class="fa-solid fa-trash"></i>
        </button>
      </form>
    </li>

    {% endfor %} {% endif %}
  </ul>

  <a
    href="/logout"
    class="btn btn-outline-info border-0"
    >Logout</a
  >
</div>
<a href="/feedback">Submit Feedback</a>
{% endblock %}
